[user]
	name = Steven Marcel Bißantz
	email = steven.bissantz@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = true
[core]
	editior = nvim
	abbrev = 8
[credential]
	helper = cache
[format]
	pretty = oneline
[alias]
	; git add
	; add = add
	; git commit
	;
	com = commit
	comm = commit -m
	comam = commit -a -m
	; git config
	con = config
	congl = config --list --show-origin
	;
	; git diff
	; diff = diff 
	; git log
	log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	; Prettified changes between commit logs (2 lines)
	logp2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -p -2
	; Pretified last commit 
	last = log -1 HEAD --stat --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	;
	; git remote
	;
	remv = remote -v
	;
	; git restore 
	; unstage = reset HEAD --
	unstage = restore --staged
	;
	; git status
	stat=status
	; Simplified status overview	
	stat = status -sb
	;
	;
	; git push
	;
	; push = push 
	pusu = push -u
	;
	; 
	; external commands
	vis = !gitk	
	visual = !gitk	
	; Search for [pattern] in the commit log
	; search = !git rev-list --all | xargs git grep -F
[help]
	autocorrect = 20
[log]
	abbrevcommit = yes
