# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
#
# Exlude everything
*
# Keep...
!.zsh_functions
!.zsh_completions
!.zsh_aliases
!.zprofile
!.zshrc
!.profile
!.vimrc

!.config/
!.config/nvim/
!.config/nvim/*

!.config/neovide/
!.config/neovide/*

!.R/
!.R/*
.R/Rsecrets

!setups/
!setups/*

!.gitconfig
!.gitignore

!README.md

!.olddotfiles/
!.olddotfiles/*
